@font-face {
  font-family: "Phosphor-Light";
  src:
    url("/fonts/Phosphor-Light.woff2") format("woff2"),
    url("/fonts/Phosphor-Light.woff") format("woff"),
    url("/fonts/Phosphor-Light.ttf") format("truetype"),
    url("/fonts/Phosphor-Light.svg#Phosphor-Light") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.ph-light {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "Phosphor-Light" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ph-light.ph-address-book:before { content: "\e6f8"; }
.ph-light.ph-anchor:before { content: "\e514"; }
.ph-light.ph-armchair:before { content: "\e012"; }
.ph-light.ph-arrow-down:before { content: "\e03e"; }
.ph-light.ph-arrow-fat-up:before { content: "\e52e"; }
.ph-light.ph-arrow-left:before { content: "\e058"; }
.ph-light.ph-arrow-right:before { content: "\e06c"; }
.ph-light.ph-arrow-square-out:before { content: "\e5de"; }
.ph-light.ph-arrow-up-right:before { content: "\e092"; }
.ph-light.ph-bed:before { content: "\e0cc"; }
.ph-light.ph-bell-ringing:before { content: "\e5e8"; }
.ph-light.ph-book-open:before { content: "\e0e6"; }
.ph-light.ph-bookmark-simple:before { content: "\e0ea"; }
.ph-light.ph-books:before { content: "\e758"; }
.ph-light.ph-briefcase:before { content: "\e0ee"; }
.ph-light.ph-buildings:before { content: "\e102"; }
.ph-light.ph-calculator:before { content: "\e538"; }
.ph-light.ph-calendar:before { content: "\e108"; }
.ph-light.ph-calendar-blank:before { content: "\e10a"; }
.ph-light.ph-calendar-check:before { content: "\e712"; }
.ph-light.ph-calendar-x:before { content: "\e10c"; }
.ph-light.ph-camera:before { content: "\e10e"; }
.ph-light.ph-caret-down:before { content: "\e136"; }
.ph-light.ph-caret-right:before { content: "\e13a"; }
.ph-light.ph-certificate:before { content: "\e766"; }
.ph-light.ph-chart-bar:before { content: "\e150"; }
.ph-light.ph-chart-line:before { content: "\e154"; }
.ph-light.ph-chart-line-up:before { content: "\e156"; }
.ph-light.ph-chart-pie-slice:before { content: "\e15a"; }
.ph-light.ph-chat-circle:before { content: "\e168"; }
.ph-light.ph-chat-circle-dots:before { content: "\e16c"; }
.ph-light.ph-chat-circle-text:before { content: "\e16e"; }
.ph-light.ph-chat-text:before { content: "\e17a"; }
.ph-light.ph-chats:before { content: "\e17c"; }
.ph-light.ph-chats-circle:before { content: "\e17e"; }
.ph-light.ph-check:before { content: "\e182"; }
.ph-light.ph-check-circle:before { content: "\e184"; }
.ph-light.ph-clipboard-text:before { content: "\e198"; }
.ph-light.ph-clock:before { content: "\e19a"; }
.ph-light.ph-clock-clockwise:before { content: "\e19e"; }
.ph-light.ph-clock-countdown:before { content: "\ed2c"; }
.ph-light.ph-clock-counter-clockwise:before { content: "\e1a0"; }
.ph-light.ph-coffee:before { content: "\e1c2"; }
.ph-light.ph-compass:before { content: "\e1c8"; }
.ph-light.ph-confetti:before { content: "\e81a"; }
.ph-light.ph-couch:before { content: "\e7f6"; }
.ph-light.ph-credit-card:before { content: "\e1d2"; }
.ph-light.ph-currency-circle-dollar:before { content: "\e54c"; }
.ph-light.ph-currency-eur:before { content: "\e554"; }
.ph-light.ph-database:before { content: "\e1de"; }
.ph-light.ph-device-mobile:before { content: "\e1e0"; }
.ph-light.ph-device-mobile-camera:before { content: "\e1e2"; }
.ph-light.ph-door:before { content: "\e61c"; }
.ph-light.ph-door-open:before { content: "\e7e6"; }
.ph-light.ph-dots-three-circle:before { content: "\e200"; }
.ph-light.ph-download-simple:before { content: "\e20c"; }
.ph-light.ph-envelope:before { content: "\e214"; }
.ph-light.ph-eye:before { content: "\e220"; }
.ph-light.ph-facebook-logo:before { content: "\e226"; }
.ph-light.ph-file-text:before { content: "\e23a"; }
.ph-light.ph-files:before { content: "\e710"; }
.ph-light.ph-fingerprint:before { content: "\e23e"; }
.ph-light.ph-flag:before { content: "\e244"; }
.ph-light.ph-gauge:before { content: "\e628"; }
.ph-light.ph-gavel:before { content: "\ea32"; }
.ph-light.ph-gear:before { content: "\e270"; }
.ph-light.ph-gift:before { content: "\e276"; }
.ph-light.ph-globe:before { content: "\e288"; }
.ph-light.ph-graduation-cap:before { content: "\e62c"; }
.ph-light.ph-hand-heart:before { content: "\e810"; }
.ph-light.ph-handshake:before { content: "\e582"; }
.ph-light.ph-headset:before { content: "\e584"; }
.ph-light.ph-heart:before { content: "\e2a8"; }
.ph-light.ph-house:before { content: "\e2c2"; }
.ph-light.ph-house-line:before { content: "\e2c4"; }
.ph-light.ph-house-simple:before { content: "\e2c6"; }
.ph-light.ph-identification-badge:before { content: "\e6f6"; }
.ph-light.ph-identification-card:before { content: "\e2c8"; }
.ph-light.ph-image-square:before { content: "\e2cc"; }
.ph-light.ph-infinity:before { content: "\e634"; }
.ph-light.ph-info:before { content: "\e2ce"; }
.ph-light.ph-instagram-logo:before { content: "\e2d0"; }
.ph-light.ph-key:before { content: "\e2d6"; }
.ph-light.ph-layout:before { content: "\e6d6"; }
.ph-light.ph-lifebuoy:before { content: "\e63a"; }
.ph-light.ph-lightbulb:before { content: "\e2dc"; }
.ph-light.ph-lightning:before { content: "\e2de"; }
.ph-light.ph-link:before { content: "\e2e2"; }
.ph-light.ph-linkedin-logo:before { content: "\e2ee"; }
.ph-light.ph-list-checks:before { content: "\eadc"; }
.ph-light.ph-lock:before { content: "\e2fa"; }
.ph-light.ph-lock-key:before { content: "\e2fe"; }
.ph-light.ph-lock-open:before { content: "\e306"; }
.ph-light.ph-lock-simple:before { content: "\e308"; }
.ph-light.ph-magnet:before { content: "\e680"; }
.ph-light.ph-magnifying-glass:before { content: "\e30c"; }
.ph-light.ph-map-pin:before { content: "\e316"; }
.ph-light.ph-map-pin-line:before { content: "\e318"; }
.ph-light.ph-map-pin-simple-line:before { content: "\ee38"; }
.ph-light.ph-map-trifold:before { content: "\e31a"; }
.ph-light.ph-megaphone:before { content: "\e324"; }
.ph-light.ph-moon:before { content: "\e330"; }
.ph-light.ph-music-note-simple:before { content: "\e33e"; }
.ph-light.ph-newspaper:before { content: "\e344"; }
.ph-light.ph-note-pencil:before { content: "\e34c"; }
.ph-light.ph-notebook:before { content: "\e34e"; }
.ph-light.ph-paint-brush:before { content: "\e6f0"; }
.ph-light.ph-paper-plane-tilt:before { content: "\e398"; }
.ph-light.ph-path:before { content: "\e39c"; }
.ph-light.ph-percent:before { content: "\e3b6"; }
.ph-light.ph-play-circle:before { content: "\e3d2"; }
.ph-light.ph-plugs-connected:before { content: "\eb5a"; }
.ph-light.ph-plus:before { content: "\e3d4"; }
.ph-light.ph-plus-circle:before { content: "\e3d6"; }
.ph-light.ph-prohibit:before { content: "\e3de"; }
.ph-light.ph-question:before { content: "\e3e8"; }
.ph-light.ph-receipt:before { content: "\e3ec"; }
.ph-light.ph-robot:before { content: "\e762"; }
.ph-light.ph-rocket:before { content: "\e3fc"; }
.ph-light.ph-rows:before { content: "\e5a2"; }
.ph-light.ph-scales:before { content: "\e750"; }
.ph-light.ph-shield-check:before { content: "\e40c"; }
.ph-light.ph-shield-warning:before { content: "\e412"; }
.ph-light.ph-shovel:before { content: "\e9e6"; }
.ph-light.ph-sign-in:before { content: "\e428"; }
.ph-light.ph-sliders:before { content: "\e432"; }
.ph-light.ph-sliders-horizontal:before { content: "\e434"; }
.ph-light.ph-snowflake:before { content: "\e5aa"; }
.ph-light.ph-sparkle:before { content: "\e6a2"; }
.ph-light.ph-spinner:before { content: "\e66a"; }
.ph-light.ph-squares-four:before { content: "\e464"; }
.ph-light.ph-stack:before { content: "\e466"; }
.ph-light.ph-star:before { content: "\e46a"; }
.ph-light.ph-storefront:before { content: "\e470"; }
.ph-light.ph-sun:before { content: "\e472"; }
.ph-light.ph-sun-dim:before { content: "\e474"; }
.ph-light.ph-t-shirt:before { content: "\e670"; }
.ph-light.ph-table:before { content: "\e476"; }
.ph-light.ph-tag:before { content: "\e478"; }
.ph-light.ph-target:before { content: "\e47c"; }
.ph-light.ph-text-b:before { content: "\e5be"; }
.ph-light.ph-thumbs-down:before { content: "\e48c"; }
.ph-light.ph-thumbs-up:before { content: "\e48e"; }
.ph-light.ph-timer:before { content: "\e492"; }
.ph-light.ph-translate:before { content: "\e4a2"; }
.ph-light.ph-tree-evergreen:before { content: "\e6dc"; }
.ph-light.ph-trend-up:before { content: "\e4ae"; }
.ph-light.ph-trophy:before { content: "\e67e"; }
.ph-light.ph-umbrella:before { content: "\e684"; }
.ph-light.ph-user:before { content: "\e4c2"; }
.ph-light.ph-user-circle:before { content: "\e4c4"; }
.ph-light.ph-users:before { content: "\e4d6"; }
.ph-light.ph-users-four:before { content: "\e68c"; }
.ph-light.ph-users-three:before { content: "\e68e"; }
.ph-light.ph-video-camera:before { content: "\e4da"; }
.ph-light.ph-wallet:before { content: "\e68a"; }
.ph-light.ph-warning:before { content: "\e4e0"; }
.ph-light.ph-warning-circle:before { content: "\e4e2"; }
.ph-light.ph-warning-octagon:before { content: "\e4e4"; }
.ph-light.ph-waves:before { content: "\e6de"; }
.ph-light.ph-whatsapp-logo:before { content: "\e5d0"; }
.ph-light.ph-wrench:before { content: "\e5d4"; }
.ph-light.ph-x:before { content: "\e4f6"; }
.ph-light.ph-x-circle:before { content: "\e4f8"; }
