@font-face {
  font-family: "Phosphor-Bold";
  src:
    url("/fonts/Phosphor-Bold.woff2") format("woff2"),
    url("/fonts/Phosphor-Bold.woff") format("woff"),
    url("/fonts/Phosphor-Bold.ttf") format("truetype"),
    url("/fonts/Phosphor-Bold.svg#Phosphor-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.ph-bold {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "Phosphor-Bold" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ph-bold.ph-address-book:before { content: "\e6f8"; }
.ph-bold.ph-anchor:before { content: "\e514"; }
.ph-bold.ph-armchair:before { content: "\e012"; }
.ph-bold.ph-arrow-down:before { content: "\e03e"; }
.ph-bold.ph-arrow-fat-up:before { content: "\e52e"; }
.ph-bold.ph-arrow-left:before { content: "\e058"; }
.ph-bold.ph-arrow-right:before { content: "\e06c"; }
.ph-bold.ph-arrow-square-out:before { content: "\e5de"; }
.ph-bold.ph-arrow-up-right:before { content: "\e092"; }
.ph-bold.ph-bed:before { content: "\e0cc"; }
.ph-bold.ph-bell-ringing:before { content: "\e5e8"; }
.ph-bold.ph-book-open:before { content: "\e0e6"; }
.ph-bold.ph-bookmark-simple:before { content: "\e0ea"; }
.ph-bold.ph-books:before { content: "\e758"; }
.ph-bold.ph-briefcase:before { content: "\e0ee"; }
.ph-bold.ph-buildings:before { content: "\e102"; }
.ph-bold.ph-calculator:before { content: "\e538"; }
.ph-bold.ph-calendar:before { content: "\e108"; }
.ph-bold.ph-calendar-check:before { content: "\e712"; }
.ph-bold.ph-camera:before { content: "\e10e"; }
.ph-bold.ph-caret-down:before { content: "\e136"; }
.ph-bold.ph-caret-right:before { content: "\e13a"; }
.ph-bold.ph-certificate:before { content: "\e766"; }
.ph-bold.ph-chart-bar:before { content: "\e150"; }
.ph-bold.ph-chart-line:before { content: "\e154"; }
.ph-bold.ph-chart-line-up:before { content: "\e156"; }
.ph-bold.ph-chart-pie-slice:before { content: "\e15a"; }
.ph-bold.ph-chat-circle:before { content: "\e168"; }
.ph-bold.ph-chat-circle-dots:before { content: "\e16c"; }
.ph-bold.ph-chat-circle-text:before { content: "\e16e"; }
.ph-bold.ph-chat-text:before { content: "\e17a"; }
.ph-bold.ph-chats:before { content: "\e17c"; }
.ph-bold.ph-chats-circle:before { content: "\e17e"; }
.ph-bold.ph-check:before { content: "\e182"; }
.ph-bold.ph-check-circle:before { content: "\e184"; }
.ph-bold.ph-clipboard-text:before { content: "\e198"; }
.ph-bold.ph-clock:before { content: "\e19a"; }
.ph-bold.ph-clock-clockwise:before { content: "\e19e"; }
.ph-bold.ph-clock-countdown:before { content: "\ed2c"; }
.ph-bold.ph-clock-counter-clockwise:before { content: "\e1a0"; }
.ph-bold.ph-coffee:before { content: "\e1c2"; }
.ph-bold.ph-compass:before { content: "\e1c8"; }
.ph-bold.ph-couch:before { content: "\e7f6"; }
.ph-bold.ph-credit-card:before { content: "\e1d2"; }
.ph-bold.ph-currency-circle-dollar:before { content: "\e54c"; }
.ph-bold.ph-currency-eur:before { content: "\e554"; }
.ph-bold.ph-device-mobile:before { content: "\e1e0"; }
.ph-bold.ph-device-mobile-camera:before { content: "\e1e2"; }
.ph-bold.ph-door:before { content: "\e61c"; }
.ph-bold.ph-door-open:before { content: "\e7e6"; }
.ph-bold.ph-dots-three-circle:before { content: "\e200"; }
.ph-bold.ph-download-simple:before { content: "\e20c"; }
.ph-bold.ph-envelope:before { content: "\e214"; }
.ph-bold.ph-eye:before { content: "\e220"; }
.ph-bold.ph-facebook-logo:before { content: "\e226"; }
.ph-bold.ph-file-text:before { content: "\e23a"; }
.ph-bold.ph-files:before { content: "\e710"; }
.ph-bold.ph-flag:before { content: "\e244"; }
.ph-bold.ph-gavel:before { content: "\ea32"; }
.ph-bold.ph-gear:before { content: "\e270"; }
.ph-bold.ph-gift:before { content: "\e276"; }
.ph-bold.ph-globe:before { content: "\e288"; }
.ph-bold.ph-graduation-cap:before { content: "\e62c"; }
.ph-bold.ph-hand-heart:before { content: "\e810"; }
.ph-bold.ph-handshake:before { content: "\e582"; }
.ph-bold.ph-headset:before { content: "\e584"; }
.ph-bold.ph-heart:before { content: "\e2a8"; }
.ph-bold.ph-house:before { content: "\e2c2"; }
.ph-bold.ph-house-line:before { content: "\e2c4"; }
.ph-bold.ph-house-simple:before { content: "\e2c6"; }
.ph-bold.ph-identification-badge:before { content: "\e6f6"; }
.ph-bold.ph-identification-card:before { content: "\e2c8"; }
.ph-bold.ph-infinity:before { content: "\e634"; }
.ph-bold.ph-info:before { content: "\e2ce"; }
.ph-bold.ph-instagram-logo:before { content: "\e2d0"; }
.ph-bold.ph-key:before { content: "\e2d6"; }
.ph-bold.ph-layout:before { content: "\e6d6"; }
.ph-bold.ph-lightbulb:before { content: "\e2dc"; }
.ph-bold.ph-lightning:before { content: "\e2de"; }
.ph-bold.ph-link:before { content: "\e2e2"; }
.ph-bold.ph-linkedin-logo:before { content: "\e2ee"; }
.ph-bold.ph-list-checks:before { content: "\eadc"; }
.ph-bold.ph-lock:before { content: "\e2fa"; }
.ph-bold.ph-lock-open:before { content: "\e306"; }
.ph-bold.ph-lock-simple:before { content: "\e308"; }
.ph-bold.ph-magnet:before { content: "\e680"; }
.ph-bold.ph-magnifying-glass:before { content: "\e30c"; }
.ph-bold.ph-map-pin:before { content: "\e316"; }
.ph-bold.ph-map-pin-line:before { content: "\e318"; }
.ph-bold.ph-map-trifold:before { content: "\e31a"; }
.ph-bold.ph-megaphone:before { content: "\e324"; }
.ph-bold.ph-moon:before { content: "\e330"; }
.ph-bold.ph-music-note-simple:before { content: "\e33e"; }
.ph-bold.ph-newspaper:before { content: "\e344"; }
.ph-bold.ph-note-pencil:before { content: "\e34c"; }
.ph-bold.ph-notebook:before { content: "\e34e"; }
.ph-bold.ph-paint-brush:before { content: "\e6f0"; }
.ph-bold.ph-path:before { content: "\e39c"; }
.ph-bold.ph-percent:before { content: "\e3b6"; }
.ph-bold.ph-play-circle:before { content: "\e3d2"; }
.ph-bold.ph-plugs-connected:before { content: "\eb5a"; }
.ph-bold.ph-plus:before { content: "\e3d4"; }
.ph-bold.ph-plus-circle:before { content: "\e3d6"; }
.ph-bold.ph-prohibit:before { content: "\e3de"; }
.ph-bold.ph-receipt:before { content: "\e3ec"; }
.ph-bold.ph-robot:before { content: "\e762"; }
.ph-bold.ph-rocket:before { content: "\e3fc"; }
.ph-bold.ph-rows:before { content: "\e5a2"; }
.ph-bold.ph-scales:before { content: "\e750"; }
.ph-bold.ph-shield-check:before { content: "\e40c"; }
.ph-bold.ph-shield-warning:before { content: "\e412"; }
.ph-bold.ph-shovel:before { content: "\e9e6"; }
.ph-bold.ph-sign-in:before { content: "\e428"; }
.ph-bold.ph-sliders:before { content: "\e432"; }
.ph-bold.ph-snowflake:before { content: "\e5aa"; }
.ph-bold.ph-sparkle:before { content: "\e6a2"; }
.ph-bold.ph-squares-four:before { content: "\e464"; }
.ph-bold.ph-stack:before { content: "\e466"; }
.ph-bold.ph-star:before { content: "\e46a"; }
.ph-bold.ph-storefront:before { content: "\e470"; }
.ph-bold.ph-sun:before { content: "\e472"; }
.ph-bold.ph-sun-dim:before { content: "\e474"; }
.ph-bold.ph-tag:before { content: "\e478"; }
.ph-bold.ph-target:before { content: "\e47c"; }
.ph-bold.ph-text-b:before { content: "\e5be"; }
.ph-bold.ph-timer:before { content: "\e492"; }
.ph-bold.ph-translate:before { content: "\e4a2"; }
.ph-bold.ph-tree-evergreen:before { content: "\e6dc"; }
.ph-bold.ph-trend-up:before { content: "\e4ae"; }
.ph-bold.ph-trophy:before { content: "\e67e"; }
.ph-bold.ph-umbrella:before { content: "\e684"; }
.ph-bold.ph-user:before { content: "\e4c2"; }
.ph-bold.ph-user-circle:before { content: "\e4c4"; }
.ph-bold.ph-users:before { content: "\e4d6"; }
.ph-bold.ph-users-four:before { content: "\e68c"; }
.ph-bold.ph-users-three:before { content: "\e68e"; }
.ph-bold.ph-video-camera:before { content: "\e4da"; }
.ph-bold.ph-warning:before { content: "\e4e0"; }
.ph-bold.ph-warning-circle:before { content: "\e4e2"; }
.ph-bold.ph-waves:before { content: "\e6de"; }
.ph-bold.ph-whatsapp-logo:before { content: "\e5d0"; }
.ph-bold.ph-wrench:before { content: "\e5d4"; }
.ph-bold.ph-x:before { content: "\e4f6"; }
.ph-bold.ph-x-circle:before { content: "\e4f8"; }
